/target/
/.vscode/
.*.swp
.*.swo
*.png
*.dot
/.idea
.DS_Store
/.vscode
/logs/
/cosmo*.db/
/attr.db/
/data/
!/data/example.graph
!/data/dyn.graph
/cas.db/
*.log
/exp-data/
*/workspace
/workspace/
.vscode/
.VSCodeCounter
